body {
  background-color: #A3B4A2
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #ffffff;
  }
  50% {
    transform: scale(1.05);
    color:  #ffc400;
  }
  100% {
    transform: scale(1);
    color: #ffffff;
  }
}
