#songs {
  list-style: none;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  display: flex;
  gap: 0.5rem;
  overflow: hidden; /* Prevent the scrollbar */
  border-radius: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; /* Ensure the list takes full width */
}


  
  #fallback {
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0;
    text-align: left;
  }
  
  @media (min-width: 768px) {
    main {
      margin: 4rem auto;
      grid-template-columns: 1fr 3fr;
    }
  
    #songs {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    #fallback {
      font-size: 1.5rem;
      text-align: left;
    }
  }